header {
  height: 80px;
  /* background-color: pink;
  background-image: url(../img/header.png);
  background-size: cover;
  background-position: center; */
  background: center/cover pink url(../img/header.png); 
}