section {
  border: 1px solid silver;
  padding: 10px;
  margin-bottom: 10px;
}

/*「>」...mainクラスの直下にあるh1タグについて適用させる*/
/* .main > h1 {
  border-left: 5px solid skyblue;
} */

/* 以下のように半角スペースをあけると、mainクラスに含まれる、
全てのh1タグに対してスタイルを適用させることになる。*/
/* .main h1 {
  border-left: 5px solid skyblue;
} */

/*以下のように「,」で区切ると、mainクラスとh1タグについて
スタイルを適用させるという意味になる*/
.main, h1 {
  border-left: 5px solid skyblue; 
}

/*まとめ

不等号記号を使うと、 main の直下の h1 という意味になります。

半角空白で区切ると、 main の中のすべての h1 という意味になります。

「,」で区切ると、 main および h1 に対してスタイルを適応するという意味なので覚えておきましょう。

*/